#exportPattern("^[[:alpha:]]+")
export(generate_town)
#export(df_ngs)
importFrom(magrittr,"%>%")
importFrom(rstrings,sub_stringer)
importFrom(dplyr,data_frame)
importFrom(dplyr,arrange)
importFrom(dplyr,count)
importFrom(dplyr,distinct)
importFrom(dplyr,filter)
importFrom(dplyr,group_by)
importFrom(dplyr,if_else)
importFrom(dplyr,mutate_if)
importFrom(dplyr,mutate)
importFrom(dplyr,rowwise)
importFrom(dplyr,sample_n)
importFrom(dplyr,top_n)
importFrom(dplyr,ungroup)
importFrom(stringr,str_detect)
importFrom(tidyr,unnest)
